* {
    font-family: "Open Sans", sans-serif;
    /* transition: all 0.3s ease-in-out; */
}

body, html {
    background-color: #f7f7f7 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1em !important;
}

div {
    margin: 0 !important;
}

.beautify_classMenuItems:hover {
    background-color: #0076c0;
    color: white !important;
}

#beautify_newHeader {
    width: 100% !important;
    background-color: white !important;
    box-shadow: 0px -0.6em 0.5em 0.5em black !important;
    margin: 0 !important;
    margin-bottom: 2em !important;
    display: flex !important;
    flex-direction: row;
}

#beautify_classTitle {
    font-size: 1.2em !important;
    padding: 0.4em !important;
    padding-left: 0.8em !important;
    color: #333333 !important;
    margin: 0 0 0 0 !important;
    height: auto !important;
    flex: 0;
    flex-grow: 1;
}

#beautify_classLinks {
    display: flex !important;
    order: 0 !important;
    height: auto !important;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.beautify_classMenuItems {
    color: #333333 !important;
    text-decoration: none !important;
    font-size: 0.7em !important;
    padding: 0.65em !important;
    transition: background-color 0.2s ease-in-out;
    order: 0;
}

#beautify_LCMenu {
    display: flex !important;
    order: 0 !important;
    height: auto !important;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#beautify_accountOptions {
    width: 10% !important;
    position: absolute !important;
    top: 2em !important;
    right: 0.65em !important;
    display: none;
    background-color: white;
    border-radius: 0.3em;
    border: 0.05em solid white;
    box-shadow: 0px 0px 0.6em -0.1em black !important;
    z-index: 1000 !important;
}

#beautify_accountOptionsButton:hover + #beautify_accountOptions {
    display: block;
}

#beautify_accountOptions:hover {
    display: block;
}

.beautify_accountMenuItems {
    color: #333333 !important;
    font-size: 0.7em !important;
    padding: 0.4em !important;
    width: 100% !important;
    text-align: right !important;
    float: none !important;
    clear: both !important;
    text-decoration: none !important;
    transition: background-color 0.2s ease-in-out;
    position: relative !important;
}

.beautify_accountMenuItems:hover {
    background-color: #0076c0;
    color: white !important;
}

#LC_breadcrumbs {
    background-color: white !important;
    width: 85% !important;
    margin-left: 7.5% !important;
    border-radius: 0.3em !important;
    border: 0.05em solid white !important;
    box-shadow: 0px 0px 0.6em -0.2em black !important;
}

#beautify_homework {
    margin-top: 2em !important;
    background-color: white !important;
    width: 85% !important;
    margin-left: 7.5% !important;
    border-radius: 0.3em !important;
    border: 0.05em solid white !important;
    box-shadow: 0px 0px 0.6em -0.2em black !important;
    display: block !important;
    margin-bottom: 2em !important;
}

#beautify_tabs {
    margin-top: 2em !important;
    background-color: white !important;
    width: 85% !important;
    margin-left: 7.5% !important;
    border-radius: 0.3em !important;
    border: 0.05em solid white !important;
    box-shadow: 0px 0px 0.6em -0.2em black !important;
    display: block !important;
    height: auto !important;
    overflow: auto !important;
}

.beautify_box {
    margin-top: 2em !important;
    background-color: white !important;
    width: 85% !important;
    margin-left: 7.5% !important;
    border-radius: 0.3em !important;
    border: 0.05em solid white !important;
    box-shadow: 0px 0px 0.6em -0.2em black !important;
    display: block !important;
}

#beautify_discussions {
    margin-top: 2em !important;
    background-color: white !important;
    width: 85% !important;
    margin-left: 7.5% !important;
    border-radius: 0.3em !important;
    border: 0.05em solid white !important;
    box-shadow: 0px 0px 0.6em -0.2em black !important;
    display: block !important;
}

#beautify_feedback {
    margin-top: 2em !important;
    background-color: white !important;
    width: 85% !important;
    margin-left: 7.5% !important;
    border-radius: 0.3em !important;
    border: 0.05em solid white !important;
    box-shadow: 0px 0px 0.6em -0.2em black !important;
    display: block !important;
    position: relative !important;
}

#beautify_homeworkContainer {
    padding: 1em 1em;
}

.LC_answer_correct {
    border-radius: 0.4em;
}

.LC_hwk_submit {
    border-radius: 0.4em;
    border: none;
    font-weight: bold;
    padding: 0.5em;
    transition: background-color 0.3s ease-in-out;
    background-color: #039dfc;
    color: white;
}

.LC_hwk_submit:hover {
    background-color: #0076c0;
}

input[type = "submit"] {
    border-radius: 0.4em;
    border: none;
    font-weight: bold;
    padding: 0.5em;
    transition: background-color 0.3s ease-in-out;
    background-color: #039dfc;
    color: white;
}

input[type = "submit"]:hover {
    background-color: #0076c0;
}

input[type = "button"] {
    border-radius: 0.4em;
    border: none;
    font-weight: bold;
    padding: 0.5em;
    transition: background-color 0.3s ease-in-out;
    background-color: #039dfc;
    color: white;
}

input[type = "button"]:hover {
    background-color: #0076c0;
}

.LC_textline {
    /* border-radius: 0.2em; */
    border: none;
    border-bottom: 0.25em solid lightgray;
    transition: border-bottom 0.3s ease-in-out;
    outline: none;
}
.LC_textline:focus {
    border-bottom: 0.25em solid dimgray;
}

select {
    border-radius: 0.2em;
    border: 0.25em solid lightgray;
    transition: border 0.3s ease-in-out;
    outline: none;
}

select:hover {
    border: 0.25em solid dimgray;
}

.LC_answer_not_charged_try {
    background-color: #ffde7d !important;
    border-radius: 0.4em;
}

.LC_answer_charged_try {
    background-color: #ff7f7d !important;
    border-radius: 0.4em;
    color: black !important;
}

.beautify_resourceNavButtons {
    background-color: white !important;
    margin-left: 0.2em !important;
    margin-right: 0.2em;
}

.beautify_resourceNavButtons a {
    font-size: 1em !important;
    padding-left: 0.7em !important;
    padding-right: 0.7em !important;
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
    text-emphasis: bold !important;
    border-radius: 1em;
    transition: all 0.3s ease-in-out;
    color: #333333 !important;
    background-color: lightgray !important;
}

.beautify_resourceNavButtons a:hover {
    background-color: #0076c0 !important;
    color: white !important;
}

.LC_menubuttons_inline_text {
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important;
    transition: background-color 0.3s ease-in-out;
    /* background-color: white !important; */
}

.LC_menubuttons_inline_text:hover {
    background-color: lightgray !important;
}
